@model IEnumerable<ShopMVC.Models.ProductVM>

@{
    ViewBag.Title = "ProductsFront";
}
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>Товары</h2>
<table class="table">
    <tr>
        <th>
            Название товара
        </th>
        <th>
            Цена
        </th>
        <th>
            Наличие товара
        </th>
        <th style="max-width:150px">
            Описание
        </th>
        <th></th>
    </tr>

    @foreach (var product in ViewBag.onePageOfProducts)
    {
        <tr>
            <td>
                @product.Name
            </td>

            <td>
                @product.Prise
            </td>

            <td>
                @product.Kol
            </td>

            <td style="max-width:150px">
                @product.Opis
            </td>

            <td>
                @Html.ActionLink("Добавить в корзину", "AddToCartPartial", new { id = product.Id }, new { @class = "btn btn-info addtocart" })

            </td>
        </tr>

    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.onePageOfProducts, page => Url.Action("ProductsFront", new { page, catID = 0 }))

